.navbar {
    background: #11324D;
}

body {
    font-family: 'Kanit', sans-serif;
    background: #e0e0e0;
}

#logo {
    position: absolute;
    z-index: 999;
    width: 330px;
    height: 330px;
}

#side_bar {
    height: 100vh;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1000;
    background: #164D7A;
 }

 .bg-custom {
    background: #164D7A;
    height: 100vh;
 }

 .img-custom {
    border-radius: 50%;
    border: 10px solid white;
    width: 200px;
    height: 200px;
 }

 .mc {
    margin-left: 75px;
 }

 .nav-link:hover {
    background: none;
    color: #ECEFF1;
    opacity: 0.6;
 }

 #bg {
    background: #174E7B;
 }

 .btn-custom:hover {
    background: #e9e8e8;
 }

 .selected {
     background-color: #f0f8ff;
 }


 #hamburMenu1{
   font-size:45px;
   color:white;
   margin-left : 205px;
   margin-bottom: 0px;
 }

 #hamburMenu2{
   font-size:45px;
   color:white;
   margin-left : 10px;
   margin-bottom: 0px;
 }

 #side_bar {
   transition: margin-left .5s;
   padding: 16px;
 }

 #side_bar {
   height: 100%;
   width: 300px;
   position: fixed;
   z-index: 999;
   top: 0;
   left: 0;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
   background: #164D7A;
 }

 #hamburMenu1:hover {
   -webkit-box: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
 }

 #hamburMenu2:hover {
   -webkit-box: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
 }
