/* หัวข้อใบเบิก */
.bold_header {
    padding: 30px 60px 15px 55px;
    /* text-decoration: underline; */
    font-size: 30px;
}

/* ตัวหนา */
.b {
    font-weight: bold;
}

/* กล่องขนาดใหญ่ */
.big-box {
    background-color: white;

}

/* รับค่าไฟล์ใบเสร็จ */
input[type="file"] {
    display: none;
}

/* ปุ่มอัปโหลด */
.upload {
    display: inline-black;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: green;
    margin-top: -10px !important;
}

/* ตาราง */
.table-reques {
    border-collapse: unset !important;
    border: 1px solid black !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    border-spacing: 0;
}

/* .table-reques td {
    border: 1px solid black !important;
} */

/* .table-reques tr {
    border: 1px solid black !important;
} */




